@import 'normal-reset';
@import 'alias-mixins';

.e-fix {
    position: fixed;
}

.holder-img-intro {
    left: 0;
    top: 0;
    overflow: hidden;
}

//<!-- --------- logo-intro --------- -->
$sizeLogo: 60px;
$sizeLodoD: 80px;
.ctn-logo-intro {
    position: fixed;
    z-index: 3;
    top: 28vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    .holder-logo-intro {
        width: $sizeLogo;
        height: $sizeLogo;
        @include desk {
            width: $sizeLodoD;
            height: $sizeLodoD;
        }

        .wrap-logo-intro {
            width: $sizeLogo;
            height: $sizeLogo;
            overflow: hidden;
            @include desk {
                width: $sizeLodoD;
                height: $sizeLodoD;
            }

            .logo-intro {
                width: $sizeLogo;
                height: $sizeLogo;
                @include desk {
                    width: $sizeLodoD;
                    height: $sizeLodoD;
                }
            }
        }
    }
}






//<!-- --------- holder apenas seja --------- -->
.box-apenas {
    width: 290px;
    height: 50px;
    position: absolute;
    margin-top: -8vh;
    @include tablet {
        width: 480px;
        height: 70px;        
    }
    @include desk {
        width: 560px;
        height: 60px;
        margin-top: -6vh;
    }

    .holder-tracos{

        .traco-apenas {
            background: #fff;
            opacity: 0.2;
        }
        .traco-hori {
            height: 1px;
        }
        .traco-vert {
            width: 1px;
        }
        .t-right {
            right: 0;
        }
        .t-bottom {
            bottom: 0;
        }

    }

    h1.apenas {
        position: absolute;
        letter-spacing: 7px;
        font-size: 12px;
        @include tablet {
            letter-spacing: 13px;
            font-size: 22px;           
        }
        @include desk {
            font-size: 14px;
            letter-spacing: 20px;
        }
    }
}


//<!-- --------- letters Efetivos --------- -->
.holder-letters {
    @include sans;
    margin-top: -26vh;
    @include tablet {
        margin-top: -24vh;        
    }

    h1.eftv-lets {
        letter-spacing: 32px;
        margin-left: 32px;
        margin-top: 65px;
        opacity: 0.08;
        @include desk {
            letter-spacing: calc(45px + 54 * ((53vw + 53vh) - 600px) / 820);
            margin-top: 14vh;
            
        }
    }

    h1.eftv-lets:nth-child(3) {
        margin-top: 120px;
        @include desk {
            margin-top: 29vh;            
        }
    }
}


//<!-- --------- box title efetivos --------- -->
.holder-title-efetivos {
    margin-top: -12vh;    
    @include desk {
        margin-top: -11vh;            
    }


    h1.title-efetivos {
        font-size: 49px;
        letter-spacing: 7px;
        margin-left: 7px;
        @include tablet {
            font-size: 66px;            
        }
        @include desk {
            font-size: calc(42px + 54 * ((53vw + 53vh) - 600px) / 820);
            letter-spacing: 43px;
            margin-left: 0;
            
        }
    }
}

//<!-- --------- reveal --------- -->
.reveal {
    position: fixed;
    z-index: 9;
    background: #000;
    height: 20vh;
    @include mobile {
        height: 25vh;
    }
}
.reveal-up {
    top: 0;
    right: 0;
}

.reveal-down {
    bottom: 0;
    right: 0;
}

.slide-intro {
    opacity: 0.3;
}






// <!-- ---------------------- svg play circ ---------------- -->
circle {
    stroke-width: 1.5;
  }
  .svg-circ  {
      @include flex-center;
       cursor: pointer;
       z-index: 2;
      overflow: hidden;
   }
  
   .static-circle {
      opacity: .1;
      @include mobile {
          opacity: 0.6;
      }
   }
  .another-circle {
    stroke-dasharray: 227;
    stroke-dashoffset: 227;
    stroke: white;
  }
  
  $sizeCirc: 200px;
  .circ-hover {
      width: $sizeCirc;
      height: $sizeCirc;
      @include mobile {
        width: 131px;
        height: 169px;          
      }
      
  }
  
  
  a.enter-home{
     position: absolute;
     color: #fff;
     text-decoration: none;
     font-size: 12px;
     @include mobile {
         font-size: 10px;
         letter-spacing: 1px;
     }
  }
  
  
  
  
   // <!-- --------- TRG ARROWS ----------- -->
  
   circle {
     stroke-dasharray: 1;
     stroke-dashoffset: 1;
   }
  
  .arrow-down {
     margin-top: -35px;
     width: 200px;
     @include mobile {
        margin-top: 3px;
        width: 129px;
         
     }
     path {
        fill: #fff;
        stroke: #fff;
     }
  }
  
  .ctn-triggers {
     position: fixed;
     top: 76vh;
     left: 50vw;
     transform: translate(-50%,-50%);
     @include mobile {
         top: 68vh;
     }
        .holder-triggers {
        display: flex;
        width: 220px;
        @include mobile {
            width: auto;
        }
     }   
  }
  