@import 'normal-reset';
@import 'alias-mixins';

.e-fix {
    position: fixed;
}

//<!-- --------- holder apenas seja --------- -->
.box-apenas {
    width: 270px;
    height: 50px;
    position: absolute;
    margin-top: -8vh;
    @include tablet {
        width: 480px;
        height: 70px;        
    }
    @include desk {
        width: 616px;
        height: 80px;
        margin-top: -6vh;
    }

    .holder-tracos{

        .traco-apenas {
            background: #fff;
        }
        .traco-hori {
            height: 1px;
        }
        .traco-vert {
            width: 1px;
        }
        .t-right {
            right: 0;
        }
        .t-bottom {
            bottom: 0;
        }

    }

    h1.apenas {
        position: absolute;
        letter-spacing: 7px;
        font-size: 18px;
        @include tablet {
            letter-spacing: 13px;
            font-size: 22px;           
        }
        @include desk {
            font-size: 42px;
        }
    }
}


//<!-- --------- letters Efetivos --------- -->
.holder-letters {
    @include sans;
    margin-top: -26vh;
    @include tablet {
        margin-top: -24vh;        
    }

    h1.eftv-lets {
        letter-spacing: 32px;
        margin-left: 32px;
        margin-top: 65px;
        opacity: 0.16;
        @include desk {
            letter-spacing: calc(45px + 54 * ((53vw + 53vh) - 600px) / 820);
            margin-top: 14vh;
            
        }
    }

    h1.eftv-lets:nth-child(3) {
        margin-top: 120px;
        @include desk {
            margin-top: 29vh;            
        }
    }
}


//<!-- --------- box title efetivos --------- -->
.holder-title-efetivos {
    margin-top: -12vh;    
    @include desk {
        margin-top: -11vh;            
    }


    h1.title-efetivos {
        font-size: 49px;
        letter-spacing: 7px;
        margin-left: 7px;
        @include tablet {
            font-size: 66px;            
        }
        @include desk {
            font-size: calc(42px + 54 * ((53vw + 53vh) - 600px) / 820);
            letter-spacing: 43px;
            margin-left: 0;
            
        }
    }
}